.main_wrapper {
    background: url(../img/main_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.calc_block {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 30vw;
    height: 22vw;
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 15px;
}
.form_wrapper {
    margin: 1vw;
    position: relative;
}
input {
    font-family: "Lato", sans-serif;
    width: 40%;
    margin: 1vw;
    margin-left: 0;
    position: relative;
    left: 0;
    right: 0;
    border-radius: 15px;
    outline: none;
    padding: 5px 10px;
    display: block;
    font-size: 1vw;
}
.submit {
    position: absolute;
    right: 10%;
    top: 35%;
    padding: 0.5vw 2vw;
    border-radius: 15px;
    background-color: #fff;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    transition: 0.3s linear;
    font-size: 1vw;
}
.submit:hover {
    background-color: #d0cccc;
    transition: 0.3s linear;
}
.above_100,
.under_100 {
    font-size: 1vw;
}
.under_100 .day {
    position: absolute;
    bottom: 9vw;
    left: 1vw;
    width: 30%;
    height: 1vw;
    background: #fff;
    padding: 0.7vw;
    font-family: "Lato", sans-serif;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.under_100 .night {
    position: absolute;
    bottom: 5vw;
    width: 30%;
    left: 1vw;
    height: 1vw;
    background: #fff;
    padding: 0.7vw;
    font-family: "Lato", sans-serif;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.above_100 .day {
    position: absolute;
    bottom: 9vw;
    right: 1vw;
    width: 30%;
    height: 1vw;
    background: #fff;
    padding: 0.7vw;
    font-family: "Lato", sans-serif;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.above_100 .night {
    position: absolute;
    bottom: 5vw;
    right: 1vw;
    width: 30%;
    height: 1vw;
    background: #fff;
    padding: 0.7vw;
    font-family: "Lato", sans-serif;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.under_100_text {
    position: absolute;
    left: 3vw;
}
.above_100_text {
    position: absolute;
    right: 3vw;
}
.under_100_text,
.above_100_text {
    font-family: "Lato", sans-serif;
    color: #fff;
    font-weight: 700;
}
.result_block {
    position: absolute;
    bottom: 1vw;
    left: 0vw;
    right: 0;
    margin: 0 auto;
    width: 40%;
    height: 1vw;
    background: #fff;
    padding: 1vw;
    font-family: "Lato", sans-serif;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.result_number,
.under_100_day_current,
.under_100_night_current,
.above_100_day_current,
.above_100_night_current {
    padding-left: 1vw;
}
.result_block {
    font-size: 1vw;
}

@media screen and (max-width: 1366px) {
    .calc_block {
        width: 33vw;
        height: 25vw;
    }
    input,
    .submit,
    .under_100,
    .above_100,
    .result_block {
        font-size: 1.5vw;
    }
    .under_100 .day,
    .under_100 .night,
    .above_100 .day,
    .above_100 .night {
        width: 40%;
    }
    .result_block {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 1024px) {
    .calc_block {
        width: 70vw;
        height: 50vw;
    }
    .form_wrapper {
        margin-bottom: 4vw;
    }
    input,
    .submit,
    .under_100,
    .above_100,
    .result_block {
        font-size: 3.5vw;
    }
    .under_100 .day,
    .under_100 .night,
    .above_100 .day,
    .above_100 .night {
        width: 40%;
        padding: 1.7vw;
    }
    .under_100 .day,
    .above_100 .day {
        bottom: 18vw;
    }
    .under_100 .night,
    .above_100 .night {
        bottom: 11vw;
    }
    .result_block {
        padding: 2.5vw;
    }
}
@media screen and (max-width: 480px) {
    .calc_block {
        width: 70vw;
        height: 100vw;
        top: 20%;
        padding: 1vw;
    }
    .submit {
        position: absolute;
        right: 0%;
        padding: 2vw 2vw;
        font-size: 4.7vw;
        top: 25%;
    }
    input {
        width: 50%;
    }
    .under_100_text, 
    .above_100_text {
        font-size: 4vw;
    }
    .above_100_text {
        bottom: 40vw;
        left: 3vw;
        right: unset;
    }
    .under_100 .day {
        bottom: 62vw;
        width: 90%;
        font-size: 5vw;
        height: auto;
    }
    .under_100 .night {
        bottom: 52vw;
        width: 90%;
        font-size: 5vw;
        height: auto;
    }
    
    .above_100 .day {
        width: 90%;
        font-size: 5vw;
        height: auto;
        right: unset;
        left: 1vw;
        bottom: 28vw;
    }
    .above_100 .night {
        width: 90%;
        font-size: 5vw;
        height: auto;
        right: unset;
        left: 1vw;
        bottom: 18vw;
    }
    .result_block {
        font-size: 4.5vw;
        height: auto;
        bottom: 3vw;
        width: max-content;
        max-width: 80%;
    }
}
